/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 225, 225, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

/* Navegação */
.navegacao {
    background-color: rgba(15, 23, 42, 0.6);
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.menu-link {
    color: var(--claro);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.menu-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--primaria), var(--secundaria));
    transition: width 0.3s ease-in-out;
}

.menu-link:hover::after {
    width: 100%;
}

/* Cabeçalho */
.cabeçalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem-perfil {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

/* Sobre */
.sobre {
    margin-top: 10%;
    padding: 6rem 2rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

/* Tecnologias */
.tecnologia-aprendidas {
    text-align: center;
    font-size: 2.5rem;
    color: var(--claro);
    margin-top: 10%;
    margin-bottom: 50px;
}

.tecnologias {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa-tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imagem-tecnologia {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border: 1px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

/* Projetos */
.meus-projetos {
    margin-top: 10%;
    padding: 6rem 2rem;
    text-align: center;
}

.titulo-projetos {
    text-align: center;
    font-size: 2.5rem;
    color: var(--claro);
    margin-bottom: 20px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Herda a cor do card */
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.imagem-projeto {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixas-texto-projeto {
    padding: 1.5rem;
    text-align: center;
}

.titulo-projeto {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.descricao-projeto {
    margin-bottom: 5px;
    color: var(--claro); /* Garante que o texto fique claro */
}

/* Contato */
.contato {
    margin: 0 auto;
    padding: 6rem 2rem;
    text-align: center;
}

.contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    color: var(--claro);
    margin-bottom: 20px;
}

.formulario-contato {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

/* Animação */
@keyframes flutuar {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Responsividade para Tablets (768px ou menos) */
@media (max-width: 846px) {
    .navegacao {
        background-color: rgba(15, 23, 42, 0.5);
        padding: 0.5rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .menu-link {
        font-size: 0.9rem;
    }
}

/* Responsividade para Celulares (480px ou menos) */
@media (max-width: 480px) {
    .navegacao {
        background-color: rgba(15, 23, 42, 0.4);
        padding: 0.5rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .menu-link {
        font-size: 0.8rem;
    }
}